body{
    background-color: rgb(13, 252, 44);
    
}
@media (min-width: 1200px) {
    #my.container{
        background:linear-gradient(rgb(9, 20, 5),rgb(9, 161, 9),rgb(3, 41, 3));
        /* border-radius:25px; */
        /* border:2px solid black; */
        /* display: inline-block; */
        width: 100%;
        height: 30%;
        padding-bottom: 10px;
       

    }
    .container .jumbotron {
      /* background: url('https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80') no-repeat; */
      background:linear-gradient(rgb(9, 20, 5),rgb(9, 161, 9),rgb(3, 41, 3));
      border-radius:25px;
      border:2px solid black;
      display: inline-block;
      height: 100%;
      width: 100%;
      
    }
    .centered{
        position:absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .review{
        position:absolute;
       left: 50%;
       margin-top: 30%;
        transform: translate(-50%,-50%);
        font-size: 70px;
    }
   
}
@media (min-width: 992px) and (max-width: 1199px) {
    /* Home Page */
    .container .jumbotron {
      /* background: url('https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80') no-repeat; */
      height: 558px;
      background:linear-gradient(rgb(12, 36, 2),rgb(50, 218, 58),rgb(3, 46, 3));
      border-radius: 25px;
      border:2px solid black;
      display: inline-block;
    }
    .centered{
        position:absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 15px;
    }
    #my.container{
        background:linear-gradient(rgb(9, 20, 5),rgb(9, 161, 9),rgb(3, 41, 3));
        border-radius:25px;
        /* border:2px solid black; */
        /* display: inline-block; */
       

    }
    /* End Home Page */
}
  /********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    /* Home Page */
    .container .jumbotron {
      /* background: url('https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80') no-repeat; */
      height: 432px;
      background:linear-gradient(rgb(9, 27, 2),rgb(25, 129, 11),rgb(1, 20, 1));
      border-radius: 25px;
      border:2px solid black;
      display: inline-block;
    
    }
    .centered{
        position:absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 15px;
    }
    #my.container{
        background:linear-gradient(rgb(9, 20, 5),rgb(9, 161, 9),rgb(3, 41, 3));
        border-radius:25px;
        /* border:2px solid black; */
        /* display: inline-block; */
       

    }
    /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    .container .jumbotron {
        /* margin-top: 30px; */
        /* padding: 0; */
        background:linear-gradient(rgb(7, 22, 1),rgb(4, 139, 4),rgb(1, 32, 1));
        border-radius: 25px;
        border:2px solid black;
        display: inline-block;
        
    }
    .centered{
        position:absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }
    div.centered{
        font-size: 15px;
    }
    .review{
        position:absolute;
       left: 50%;
       margin-top: 45%;
        transform: translate(-50%,-50%);
        font-size: 30px;
    }
    #my.container{
        background:linear-gradient(rgb(9, 20, 5),rgb(9, 161, 9),rgb(3, 41, 3));
        border-radius:25px;
        /* border:2px solid black; */
        /* display: inline-block; */
        padding-bottom: 30px;
       

    }
}
div.scrollmenu {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
    }

    div.scrollmenu a {
    display: inline-block;
    color: rgb(236, 240, 235);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    text-shadow: 2px 2px rgb(7, 7, 7);
    
    }

div.scrollmenu a:hover {
    background-color: rgb(23, 122, 45);
}
.container{
    text-align: center;
}
a.active{
    color:rgb(241, 238, 238);
    background-color: rgb(25, 170, 12);
}
#respond {
    margin-top: 40px;
  }
  
  #respond input[type='text'],
  #respond input[type='email'], 
  #respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  
    line-height: 1.4em;
  }